*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-image: url('../images/header_01.jpg');
    min-height:750px;
    position: relative;
    /*background-color: linear-gradient(to right,rgb(26,231,192,0),rgb(23,226,194,0),rgb(18,207,194,0),rgb(27,200,206,0),rgb(10,180,192,0));*/
}
.container{
    max-width: 1440px;
    height: 100%;
    margin: auto;
}
/*--------------------------------HEADER_NAV START--------------------------------------------------*/

header:hover .blue{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#19e6c0e3;
    transition: 3s;
}
header .header_nav .fa-graduation-cap{
    font-size: 35px;
    color: white;
    margin-right: 15px;
}
header .header_nav h1{
    font-size: 14px;
    color: white;
    font-weight: 700;
}
header .header_nav h1 span{
    display: block;
    font-weight: 400;
}
header .header_nav .nav-link{
    font-weight: 600;
    color: white;
    font-weight: 400;  
}
header .header_nav .nav-link:hover{
    color: black;
}
header .header_nav button{
    display: block;
    width: 78px;
    height: 24px;

    border: 1px solid white;
    font-size: 12px;
    color: white;
    background: none;
}
/*------------------header_main start-------------------------------*/

header .header_main{
    margin-top: 135px;
}

header .header_main h1{
    color: white;
    font-size: 55px;
    font-weight: 800;
    max-width: 500px;  
    position: relative;
    animation: myh1 2s normal;
}
  
@keyframes myh1 {
    from {transform: translateX(-500px);}
    to {transform: translateX(0px)}
  }



header .header_main p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    animation: myp 3s normal;
    text-align:start;
    max-width: 530px;
}
@keyframes myp {
    from {transform: translateX(1000px);}
    to {transform: translateX(0px)}
  }




header .header_main .btn1{
    width: 150px;
    height: 45px;
    background: #061e37;
    color: white;
    margin-right: 25px;
    font-size: 15px;
    position: relative;
    animation: mybtn1 3s normal;
}
@keyframes mybtn1 {
    from {transform: translateX(-500px);}
    to {transform: translateX(0px)}
  }


header .header_main .btn2{
    width: 160px;
    height: 45px;
    background: white;
    color: #061e37;
    font-size: 15px;
    position: relative;
    animation: mybtn2 2s normal;
}
@keyframes mybtn2 {
    from {transform: translateX(-500px);}
    to {transform: translateX(0px)}
  }


header .youtube{
    display: flex;
    justify-content: flex-end;
}



header .header_main h1{
    position: relative;
    animation: myh1 1s normal;
  }
  
  @keyframes myh1 {
    from {transform: translateX(-500px);}
    to {transform: translateX(0px)}
  }
/*--------------------main start--------------------------*/
/*---------------section-------------*/

main{
    width: 100%;
    min-height: 805px;
    background: white;
}
section h2{
    display: block;
    font-size: 45px;
    font-weight: 600;
    color: #061e37;
    margin-top: 100px;
}
section h3{
    color: #b0bec5;
    font-weight: 600;
    font-size: 25px;
}
section p{
    color: #b0bec5;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 100px;
}
section h2,h3,section span{
    max-width: 570px;
    text-align: center;
}
section span{
    margin-bottom:100px;
}

section .fa-subway,.fa-database,.fa-wrench{
    font-size: 80px;
    color: #b388ff;
}
section .fa-subway:hover,.fa-database:hover,.fa-wrench:hover{
    color: #80d8ff;
}
section h4{
    color: #061e37;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
}
section p{
    color: #78909c;
    font-size: 15px;
    font-weight: 400;
}
section h4,p{
    max-width: 350px;
    text-align: center;
}
section .btn{
    background: #1de9b6;
    color: white;
    margin-bottom: 100px;
}
section .btn{
    position: relative;
    animation:mybtn 0.75s infinite;
}
@keyframes mybtn {
    from {background: #061e37;
    color:white;}
    to {background: blue;
    color:black;}
}
/*-----------------------------section2----------------------------*/

.section2{
    min-height: 120px;
    max-width: 1600px;
    margin: auto;
}
.section2 .container{
    width: 100%;
}
.section2 .col-lg-3,.col-md-6{
    margin: 0px;
    padding: 0px;
}
.section2 .blok1,.blok2,.blok3,.blok4{
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blok4:hover   .fa{
    color: lime;
}
.blok4:hover   p{
    color: lime;
}
.blok3:hover   .fa{
    color: lime;
}
.blok3:hover   p{
    color: lime;
}
.blok2:hover   .fa{
    color: lime;
}
.blok2:hover   p{
    color: lime;
}
.blok1:hover   .fa{
    color: lime;
}
.blok1:hover   p{
    color: lime;
}



.blok1{
    background: #80d8ff;
}
.blok2{
    background: #82b1ff;
}
.blok3{
    background: #b388ff;
}
.blok4{
    background: #ea80fc;
}
.section2 p{
    font-size: 15px;
    color: white;
    font-weight: 800;
    max-width: 80px;
    padding: 15px 0px 0px 0px;
}
.section2 .fa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    font-size: 30px;
    background: white;
    color: #80d8ff;
    margin-right: 20px;
}
/*-----------------------------section3 -----------------------------*/


.section3 h2{
    display: block;
    font-size: 40px;
    font-weight: 600;
    color: #061e37;
    margin-top: 100px;
}
.section3 p{
    color: #b0bec5;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 100px;
}
.section3 .card-header{
    width: 100%;
    height: 78px;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
}
.section3 .card-header h3, .card-header .fa{
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.section3 .accordion{
    width: 50%;
    height: 800px;
    margin: auto;
    margin-bottom: 90px;
}
.section3 .accordion .fa{
    display: block;
    font-size: 25px;
    margin-right: 20px;
}
.section3 .btn-link{
    text-decoration: none;
}
.section3 .card-body p{
    display: block;
    margin: auto;
    margin-bottom:0;
    color: black;
    text-align: center;
}
.section3 .card-body .imgbox{
    display: block;
    position: relative;
    margin: auto;
}
/*--------------------------section4 start----------------------*/
.section4{
    
    background:url('../images/slider_02.jpg');
 
}
.section4 .carousel{
    display: flex;
    max-width:1600px;
    min-height: 570px; 
    margin: auto;
    align-items: center;
    justify-content: center;
    
}
.section4 .carousel-inner{
    padding:0px 240px;
}
.section4 .carousel a{
    width: 10%;
}

main .section4 .carousel h1{
    color: white;
    font-size: 45px;
    font-weight: 800;
    max-width: 500px;  
}

main .section4 .carousel .btn1{
    width: 150px;
    height: 45px;
    background: #061e37;
    color: white;
    margin-right: 25px;
    font-size: 15px;
}
main .section4 .carousel p{
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-align:start;
    max-width: 500px;
}
.boy{
    margin:25px 0px;
}
main .section4 .carousel img{
    display: block;
    width: 64px;
    height: 64px;
    border-radius:50%;
}
.section4 .vlog{
    max-width: 450px;
    max-height: 160px;
    background: white;
    border-radius:3px;
    padding:18px 35px 13px 15px;
    overflow: auto;
    
    
}
.section4 .vlog h5{
    font-size: 18px;
    font-weight: 700;
    color: black;
}

/*------------------------------section5 start -----------------------------*/

.section5 h2{
    display: block;
    font-size: 45px;
    font-weight: 600;
    color: #061e37;
    margin-top: 100px;
}
.section5 h3{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #061e37;
    margin-top: 80px;
}
.section5 p{
    color: #b0bec5;
    font-size: 15px;
    font-weight: 400;
    
    max-width: 570px;
}
.section5 .imgbox{
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
}
.section5 .imgbox:hover{
    width: 166px;
    height: 166px;
}
.section5 .imgbox img{
    width: 100px;
    height: 100px;
}
.section5 .imgbox:hover img{
    width: 166px;
    height: 166px;
}
.section5 .imgbox .opacity{
    background: rgba(255, 255, 255, 0.527);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    
    transition: 0.5s;
}
.section5 .imgbox:hover .opacity{
    opacity: 0;
}
.section5 .fa{
    font-size: 20px;
    color: #90a4ae;
}
.section5 .fa:hover{
    color: black;
}
.section6{
    background: #fafafa;
    margin-top:100px;
}
.section6 .form{
    display: flex;
    margin: auto;
    max-width: 620px;
    margin-bottom: 90px;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 4px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0);
}
.xabar{
    height: 150px;
}
.checksend2{
    display: flex;
    justify-content:flex-end;
}
.submit{
    display: block;
    width: 130px;
    height: 50px;
    background: #1de9b6;
    border-radius:3px;
    padding:15px 45px;
    color:white;
    font-size: 16px;
    font-weight: 500;
}
.form p, .checkbox{
    margin:0;
}
.checkbox{
    display: block;
    width: 17px;
    height: 17px;
    margin-right:5px;

}
.section6 h2{
    display: block;
    font-size: 45px;
    font-weight: 600;
    color: #061e37;
    margin-top: 80px;
}
.section6 p{
    color: #061e37;
    font-size: 15px;
    font-weight: 400;
    
    max-width: 570px;
}
footer{
    background: #061e37;
}
footer .fa-graduation-cap{
    font-size: 35px;
    color: white;
    margin-right: 15px;
}
footer h1{
    font-size: 14px;
    color: white;
    font-weight: 700;
}
footer h1 span{
    display: block;
    font-weight: 400;
}
footer navbar-nav{
    display: flex;
    justify-content: space-between;
}
footer .nav-link{
    font-weight: 600;
    color: white;
    font-weight: 400;  
}
footer .nav-link:hover{
    color: black;
}
.footerx{
    display: flex;
    margin-top:95px;
    margin-bottom:40px;
}
.circle{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}
footer ul{
    display: block;
    width: 100%;
    font-size: 15px;
    color: white;
    font-weight: 400;
    
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer ul li a:hover{
    text-decoration: none;
}
@media(max-width:992px){
    header .youtube{
        justify-content: flex-start;
        margin-top:50px;
    }
    .section5 .imgbox{
        width:75px;
        height:75px;
        position: relative;
        margin: auto;
    }
    .section5 .imgbox:hover{
        width: 129px;
        height: 129px;
    }
    .section5 .imgbox img{
        width:75px;
        height:75px;
    }
    .section5 .imgbox:hover img{
        width: 129px;
        height: 129px;
    } 
    .checksend{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:768px){
    .section5 .imgbox{
        width: 50px;
        height: 50px;
        position: relative;
        margin: auto;
    }
    .section5 .imgbox:hover{
        width: 86px;
        height: 86px;
    }
    .section5 .imgbox img{
        width: 50px;
        height: 50px;
    }
    .section5 .imgbox:hover img{
        width: 86px;
        height: 86px;
    } 


    .section4 .carousel-inner{
        padding:0px 120px;
    }
    
    main .section4 .carousel h1{
        color: white;
        font-size: 22px;
        font-weight: 800;
        max-width: 500px;  
    }
    
    main .section4 .carousel .btn1{
        width: 75px;
        height: 22px;
        background: #061e37;
        color: white;
        margin-right: 12px;
        font-size: 8px;
    }
    main .section4 .carousel p{
        color: white;
        font-size: 10px;
        font-weight: 400;
        text-align:start;
        max-width: 500px;
    }
    .section4 .vlog{
        
        background: white;
        border-radius:3px;
        padding:18px 35px 13px 15px;   
        overflow: auto;     
    }
    .section4 .vlog h5{
        font-size: 18px;
        font-weight: 700;
        color: black;
    }
    .section4 .vlog span{
        font-size: 9px;
    }
    
}